{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password 😫</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Request Password Reset 🥺</button>
            </div>
           
        </form>
         
         <div class="border-top pt-3 ">
            <div class="col-md-12">
            <a href={% url 'login' %} ><button class="btn btn-primary" >Nah! I remember my password🤔</button></a>
            
            <small class="text-muted" style="float: right;">
                Don't Have An Account? <a class="ml-2" href="{% url 'register' %}">Register 🔑 </a>
            </small>
            </div>
        </div>
    </div>
{% endblock content %}