{% extends "dashboard/base_foc.html" %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% block content %}

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">
          Issues Reported
        </h1>
        <p class="subtitle">
            Our Primary goal is to make experience better for all <strong>organizers & particpants</strong>
            so we have created this place to help you out with your problems
        </p>
    </div>
</section>

{% endblock content %}
