<aside class=" box m-2 ml-2 pl-5 menu is-vertical is-10 ">
  <p class="menu-label is-size-6 has-text-grey has-text-weight-medium" >
    General
  </p>
  <ul class="menu-list">
    <li><a class="button is-link is-rounded has-text-left has-text-weight-bold ">About You</a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2 ">Email Change</a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2">Password Change</a></li>
  </ul>
  <p class="menu-label is-size-6 has-text-grey has-text-weight-medium">
   Contact
  </p>
  <ul class="menu-list">
    <li><a class="button is-rounded is-outlined has-text-left my-2">Emails & SMS </a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2">Push Notifications</a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2">Emails from {{ website_name }}</a></li>
  </ul>
  
  <p class="menu-label is-size-6 has-text-grey has-text-weight-medium">
   Competitions
  </p>
  <ul class="menu-list">
    <li><a class="button is-rounded is-outlined has-text-left my-2">Team Settings</a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2">Invitations</a></li>
  </ul>
  <p class="menu-label is-size-6 has-text-grey has-text-weight-medium">
    Transactions
  </p>
  <ul class="menu-list ">
    <li><a class="button is-rounded is-outlined has-text-left my-2">Accounts</a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2">Payments</a></li>
    <li><a class="button is-rounded is-outlined has-text-left my-2">Reciepts</a></li>
  </ul>


</aside>
