{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% load static %}
{% load markdown_deux_tags %}
{% block content %}


<section class="section">
  <div class="tabs is-toggle is-centered is-toggle-rounded">
    <ul>
      <li>
        <a href={% url 'profile-about' %}>
          <span class="icon is-small"><i class="fas fa-address-card"></i></span>
          <span>About</span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-edu' %}>
          <span class="icon is-small"><i class="fas fa-university"></i></span>
          <span>Education</span>
        </a>
      </li>
      <li class="is-active">
        <a href={% url 'profile-exp' %}>
          <span class="icon is-small"><i class="fas fa-pencil-ruler"></i></span>
          <span><strong>Experience</strong></span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-links' %}>
          <span class="icon is-small"><i class="fas fa-link"></i></span>
          <span>Links</span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-contact' %}>
          <span class="icon is-small"><i class="fas fa-phone-alt"></i></span>
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor is-12">
    <div class="tile is-parent is-vertical mx-2">
      <article class="tile is-child notification is-12 is-white box is-centered">
        <div class="content">
          <h3 class="title">
            <span class="icon mx-1 ">
              <i class="is-small fas fa-globe-asia"></i>
            </span>
            Work </h3>
          {% if works %}

          <p class="subtitle has-text-grey">

            Your Amazing Work History
          </p>
          {% else %}
          <p class="subtitle has-text-grey">
            Have you ever worked before? Add these details to make a credible profile
          </p>
          {% endif %}

          {% for work in works %}
          <div class="box ">

            <div class=" ">
              <h6>
                {{ work.employer }} | {{ work.role }}
              </h6>
              {% if work.currently_working %}
              <p class="is-italic">
                Currently working here
              </p>
              {% endif %}
            </div>

            <p class="">{{ work.start}} - {{ work.end }}</p>
            {{ work.description|markdown }}

          </div>
          {% endfor %}
          <button class=" has-text-centered button is-link is-fullwidth " id="lanuchModal">
            <span class="icon mx-1 ">
              <i class="is-small fas fa-signature"></i>
            </span>
            <strong>Add Work</strong>
          </button>
          <div id="update-modal" class="modal px-2 ">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class='box'>
                <h3 class="title">Your Work </h3>
                <p class="subtitle">Description is markdown supported</p>
                <form action={% url 'profile-work-create' %} method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {% csrf_token %}
                    {{ form_work|bulma }}
                    <table style="display: none">
                      {{ view.formset.empty_form }}
                    </table>
                    <table>
                      {{ view.formset }}
                      <hr class="dropdown-divider">
                    </table>
                  </fieldset>
                  <div class="form-group">

                    <button class="my-2 border-top py-4  has-text-centered button is-link is-fullwidth" type="submit">
                      <strong>
                        <span class="icon mx-1 ">
                          <i class="is-small fas fa-signature"></i>
                        </span>
                        Submit
                      </strong>
                    </button>
                    <br>
                  </div>
                </form>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close">
              Model
            </button>
          </div>

        </div>
      </article>
    </div>

    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-12 is-white box is-centered">
        <div class="content">
          <h3 class="title"> <span class="icon mx-1 ">
              <i class="fab fa-angellist"></i>
            </span>
            Your Skills</h3>
          <p class="subtitle has-text-grey">This will help you to match you with with type of competitions you like </p>

          {% if skills %}
          {% for skill in skills %}
          <p>{{ skill.name }}</p>
          {% endfor %}
          {% endif %}
          <form action={% url 'profile-skill-connect' %} method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              {{ form|bulma }}
            </fieldset>
            <div class="form-group">
              <button class="my-2 border-top py-4  has-text-centered button is-link is-fullwidth" type="submit">
                <strong>
                  <span class="icon mx-1 ">
                    <i class="is-small fas fa-signature"></i>
                  </span>
                  Submit
                </strong>
              </button>
              <br>
            </div>
          </form>
        </div>
      </article>
    </div>
  </div>

</section>

<section class="section">
  <div class="columns is-centered">
    <div class="column box is-10">
      <div class="content-section">
        <h3 class="title"> <span class="icon mx-1 ">
            <i class="fas fa-file"></i>
          </span>
          Resume</h3>

        <form method="POST" action={% url 'profile-resume-upload' %} enctype="multipart/form-data">
          <fieldset class="form-group">
            {% csrf_token %}
            <div class="field">
              <label class="label">Resume</label>
              <div class="control ">
                <label class="file-label">
                  <input type="file" name="resume" class=" file-input" required id="id_resume" accept="application/pdf,application/msword,
                  application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label" id="uploadresumelabel">
                      Upload Resume
                    </span>
                  </span>
                  <span class="file-name" id="resumefilename">
                    No file Selected
                  </span>
                </label>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <div class="form-group ">
              <div class="control ">
                <button class="my-2  has-text-centered button is-link is-fullwidth" id="uploadresumebutton"
                  type="submit">
                  <span class="icon mx-1 ">
                    <i class="is-small fas fa-file"></i>
                  </span>
                  <strong> Upload Resume </strong>
                </button>
              </div>
            </div>
        </form>
        <div>
          <div class="column">
            <a class="button is-warning " href="{% url 'profile-edu' %}">
              <span class="icon mx-1 ">
                <i class="is-small fas fas fa-arrow-left"></i>
              </span>
              <strong> Education </strong>
            </a>
            <small class="text-muted" style="float: right;">
              <a class="ml-2 button is-primary" href="{% url 'profile-links' %}">
                <strong> Links </strong>
                <span class="icon mx-1 ">
                  <i class="is-small fas fa-arrow-right"></i>
                </span>
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
  (function ($) {
    $('#add-form').click(function () {
      var index = $('#id_inline_test_models-TOTAL_FORMS').val()
      var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
      newTable.find(':input').each(function () {
        for (attr of ['name', 'id'])
          $(this).attr(
            attr,
            $(this).attr(attr).replace('__prefix__', index)
          )
      })
      newTable.insertBefore($(this))
      $('#id_inline_test_models-TOTAL_FORMS').val(
        parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
      )
      newTable.slideDown()
    })
  })($)


  $("#lanuchModal").click(function () {

    $(".modal").addClass("is-active");

  });


  $(".modal-close").click(function () {

    $(".modal").removeClass("is-active");

  });


  $('#uploadresumelabel').click(function () {
    $('#id_resume').change(function () {
      var file = $('#id_resume')[0].files[0];

      $('#resumefilename').html(file.name);
    });
  });

</script>


{% endblock content %}