{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% block content %}
 
 
<section class="section">
<div class="tabs is-toggle is-centered is-toggle-rounded">
  <ul>
    <li>
      <a href={% url 'profile-about' %}>
        <span class="icon is-small"><i class="fas fa-address-card"></i></span>
        <span>About</span>
      </a>
    </li>
    <li class="is-active">
      <a href={% url 'profile-edu' %}>
        <span class="icon is-small"><i class="fas fa-university"></i></span>
        <span><strong>Education</strong></span>
      </a>
    </li>
    <li>
      <a href={% url 'profile-exp' %}>
        <span class="icon is-small"><i class="fas fa-pencil-ruler"></i></span>
        <span>Experience</span>
      </a>
    </li>
    <li>
      <a href={% url 'profile-links' %}>
        <span class="icon is-small"><i class="fas fa-link"></i></span>
        <span>Links</span>
      </a>
    </li>
    <li>
      <a href={% url 'profile-contact' %}>
        <span class="icon is-small"><i class="fas fa-phone-alt"></i></span>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</div>
</section>

<section class="section">
    <div class="columns is-centered">
        <div class="column box is-half ">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|bulma }}
                    </fieldset>
                    <div class="form-group">
                        <div class="form-group ">
                            <div class="control ">
                                <button class="my-2  has-text-centered button is-link is-fullwidth" type="submit">
                                    <span class="icon mx-1 ">
                                        <i class="is-small fas fa-building"></i>
                                    </span>
                                    <strong> Update Education</strong>
                                </button>
                            </div>
                        </div>
                </form>
                 
                    <div class="column">
                        <a class="button is-warning "href="{% url 'profile-about' %}">
                                <span class="icon mx-1 ">
                                    <i class="is-small fas fas fa-arrow-left"></i>
                                </span>
                                <strong> About</strong>
                        </a>
                        <small class="text-muted" style="float: right;">
                            <a class="ml-2 button is-primary" href="{% url 'profile-exp' %}">
                                   
                                  <strong>  Experience </strong>
                                   <span class="icon mx-1 ">
                                        <i class="is-small fas fa-arrow-right"></i>
                                    </span>
                            </a>
                        </small>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

{% endblock content %}