{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% load markdown_deux_tags %}
{% block content %}


<section class="section">
<div class="container has-text-centered mb-4">
        <h3 class='has-text-grey-darker title is-4'>
            100% profile completed
        </h3> 
  </div>
  <div class="tabs is-toggle is-centered is-toggle-rounded">
    <ul>
      <li class="is-active">
        <a href={% url 'profile-about' %}>
          <span class="icon is-small"><i class="fas fa-address-card"></i></span>
          <span><strong>About</strong></span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-edu' %}>
          <span class="icon is-small"><i class="fas fa-university"></i></span>
          <span>Education</span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-exp' %}>
          <span class="icon is-small"><i class="fas fa-pencil-ruler"></i></span>
          <span>Experience</span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-links' %}>
          <span class="icon is-small"><i class="fas fa-link"></i></span>
          <span>Links</span>
        </a>
      </li>
      <li>
        <a href={% url 'profile-contact' %}>
          <span class="icon is-small"><i class="fas fa-phone-alt"></i></span>
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </div>
</section>


<section class="section">
  <div class="columns ">
    <div class="column is-half is-offset-one-quarter">
      <div class="tile is-ancestor is-12">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-12 is-white box is-centered">
            <div class="content">
              <div class="column">
                <h1 class="title ">
                  About you
                </h1>

                <button class=" has-text-centered button is-link " id="lanuchModal">
                  <span class="icon mx-1 ">
                    <i class="is-small fas fa-signature"></i>
                  </span>
                  <strong>Update Bio</strong>
                </button>
              </div>

              {{ data|markdown }}

              <div id="update-modal" class="modal px-2 ">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <div class='box'>
                    <h1 class='title'>
                      Update Bio</h1>
                    <p class="subtitle"> Markdown supported , write a meaningful intro </p>
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <fieldset class="form-group">
                        {{ bio_form|bulma }}
                      </fieldset>
                      <div class="form-group">

                        <button class="my-2 border-top py-4  has-text-centered button is-link is-fullwidth"
                          type="submit">
                          <strong>
                            <span class="icon mx-1 ">
                              <i class="is-small fas fa-signature"></i>
                            </span>
                            Submit
                          </strong>
                        </button>
                        <br>
                      </div>
                    </form>
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close">
                  Model
                </button>
              </div>


              <div class="column">
                        
                        <small class="text-muted" style="float: right;">
                            <a class="ml-2 button is-link" href="{% url 'profile-edu' %}">
                                   
                                  <strong> Education  </strong>
                                   <span class="icon mx-1 ">
                                        <i class="is-small fas fa-arrow-right"></i>
                                    </span>
                            </a>
                        </small>
                    </div>
            
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>


<script>

  $("#lanuchModal").click(function () {

    $(".modal").addClass("is-active");

  });


  $(".modal-close").click(function () {

    $(".modal").removeClass("is-active");

  });

</script>

{% endblock content %}