{% extends "dashboard/base_foc.html" %}
{% load crispy_forms_tags %}
{% block content %}
 {% load static %}
 
 <section class="section">
    <div class="container box is-8 has-text-centered" >
      <h1 class="title p-2 ">
       Welcome  {{ user.username }} ! 
      </h1>
      <p  class="subtitle p-2">
        We are glad that you have joined this amazing place,
        hope to make particpating in <strong>comeptitions</strong> fun for you !
      </p>
    </div>
  </section>

<section class="section" >
  <div class="tile is-ancestor px-3">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Let's Begin</p>
          <p class="subtitle">We would like to know more about you ! </p>
           <figure class="image is-4by3">
            <img src="{% static 'images/abstract-list-is-empty.png' %}">
          </figure>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">...tiles</p>
          <p class="subtitle">Bottom tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-link">
          <p class="title">Your Details Please</p>
         <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ name_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn is-danger" type="submit">Submit</button>
            </div>
        </form>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
  </section>


{% endblock content %}